# Required
VIYA_ENDPOINT=https://iot.viya-azure-gpu.unx.sas.com
VIYA_USERNAME=germsz
VIYA_PASSWORD=
# Optional
CLIENT_ID=sas.cli
#HOST_PORT=8134
#SAS_MCP_TOKEN="sas_viya_2026"
#MCP_SIGNING_KEY="NO"
# Set to false to disable SSL verification (e.g. for self-signed Viya certificates)
SSL_VERIFY=false
